<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>temp/home</title>
    <link rel="stylesheet" href="/main.css" />

</head>
<body>
<a href="cities_home.html">View Cities</a>
<h1>list of cities:</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Population</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city : ${cityList}">
        <td th:text="${city.name}"/>
        <td th:text="${city.state_Located}"/>
        <td th:text="${city.population}"/>
    </tr>
    </tbody>
</table>
<div id="react"></div>

    <h1>Add a city</h1>
    <form action="/cityadd" method="POST">
        City Name: <input type="text" id="name" name="name" /><br />
        State Located: <input type="text" id="state_Located" name="state_Located" /><br />
        Population: <input rows="5" cols="70" id="population" name="population"/>

        <br/>
        <input type="submit" />
    </form>

</body>
</html>